@charset "UTF-8";
/* ---------------------- Header --------------------- */
.header__index {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(1, 34, 126, 0.1568627451);
}

/* ---------------------- Header Nav --------------------- */
.header__nav--ul {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  flex-basis: 0;
  list-style: none;
  margin: 0;
  margin-right: 1.5em;
}

.header__nav--li {
  padding: 0 1em;
}

.header__nav--li:last-child {
  border-right: none;
}

.header__nav--li a {
  font-size: 1.2em;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  color: #dbdbdb;
}

.header__nav--li a:hover {
  color: #ffffff;
  text-shadow: 0 0 5px rgba(255, 255, 255, 0.2823529412);
}

.header__nav--li i {
  font-size: 1.5em;
  color: #dbdbdb;
}

.header__nav--li i:hover {
  filter: drop-shadow(0 0 5px #ffffff);
  transition: all 0.2s ease-in-out;
}

/* ---------------------- Header Logo --------------------- */
.container__logo {
  margin-left: 1.5em;
}

.container__logo, img {
  width: 5em;
  height: 5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body__pages {
  background: #1f1e1e;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

.body__index {
  background: #1f1e1e;
  font-family: Arial, sans-serif;
  color: #ffffff;
}

/* ---------------------- WHATSAPP --------------------- */
.whatsapp {
  position: fixed;
  bottom: 1em;
  right: 1em;
  z-index: 2000;
}

.img_whatsapp {
  height: 3em;
  width: 3em;
}

.img_whatsapp:hover {
  filter: drop-shadow(0 0 10px rgba(15, 209, 15, 0.685));
}

/* ---------------------- Hero Section --------------------- */
.hero__section {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url(../img/hero.jpg);
  background-size: cover;
  background-position: center;
}

.div__hero_section {
  max-width: 50%;
  margin-left: 1.5em;
}

.h1__hero {
  font-size: 2.7em;
  font-weight: bold;
  text-transform: uppercase;
  color: #cacaca;
  letter-spacing: 0.1em;
}

/* ---------------------- Section Presentacion --------------------- */
.presentacion__section {
  display: flex;
  justify-content: center;
  padding: 2em;
}

.div__presentacion {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 80%;
}

.text__presentacion {
  text-align: center;
}

.text__presentacion h2 {
  font-size: 1.4em;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.text__presentacion h2::after {
  content: " ?";
  color: #d4d4d4;
}

.text__presentacion h2::before {
  content: "¿ ";
  color: #d4d4d4;
}

.text__presentacion p {
  font-size: 1.2em;
  line-height: 1.5em;
  margin: 1em 0;
}

.img__presentacion {
  max-width: 55em;
  margin: 1em 0 3.5em 0;
  border-radius: 0.5em;
}

.img__presentacion img {
  width: 100%;
  height: 100%;
  box-shadow: 0 0 20px 0 #000000;
  border-radius: 0.5em;
}

/* ---------------------- Footer --------------------- */
.container__footer {
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background: rgba(1, 34, 126, 0.1568627451);
  border-top: 1px solid rgb(129, 129, 129);
}

/* contenido superior */
.container__footer--contact {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 0.1em solid rgb(160, 160, 160);
}

/* imagen o logo */
.container__img--footer {
  height: 12em;
  width: 12em;
}

.container__img--footer img {
  height: 100%;
  width: 100%;
}

/* redes */
.container__redes--footer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container__redes--footer p {
  font-weight: 500;
}

.container__redes--footer h5 {
  padding: 0.3em;
  border-bottom: 1px solid rgb(129, 129, 129);
}

.ul__container--redes {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.li__container--redes {
  list-style: none;
}

.item__redes img {
  height: 2em;
  width: 2em;
  padding: 0;
  margin: 0;
}

/* sobre nosotros */
.container__nosotros--footer {
  width: 20em;
  text-align: center;
}

.container__nosotros--footer h5 {
  padding: 0.3em;
  border-bottom: 1px solid rgb(129, 129, 129);
}

.container__nosotros--footer p {
  font-weight: 500;
}

/* copy */
.container__Copy--footer {
  border-bottom: 1px solid rgb(129, 129, 129);
}

/* contenido inferior */
.container__footer--nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
}

.container__footer--nav h5 {
  margin: 0;
  padding: 0.4em;
  background-color: #112030;
  border: 1px solid rgba(161, 161, 161, 0.712);
  border-top-right-radius: 0.9em;
  border-top-left-radius: 0.9em;
  border-bottom: none;
}

.ul__container--nav {
  display: flex;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  background-color: #0a1b2c;
  border: 1px solid rgba(161, 161, 161, 0.712);
  border-radius: 0.9em;
}

.li__container--nav {
  list-style: none;
  margin: 0 1.7em;
  padding: 0.5em;
  border-radius: 0.9em;
}

.li__container--nav--icon {
  list-style: none;
  font-size: 2rem;
}

.li__container--nav--icon a {
  text-decoration: none;
  color: #ffffff;
}

.li__container--nav a {
  text-decoration: none;
  color: #dfdcdc;
  font-size: 1.2rem;
  font-weight: 500;
}

.li__container--nav a:hover {
  color: #ffffff;
}

/* ---------------------- Pagina Contacto --------------------- */
.section__contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #1f1e1e;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 2rem 1rem;
  box-sizing: border-box;
}

.contact__text {
  flex: 1 1 300px;
  max-width: 600px;
  background: #2a2a2a;
  border-radius: 16px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
  color: #f5f5f5;
  box-sizing: border-box;
  padding: 2rem;
  margin-left: 0;
  line-height: 1.7;
  font-weight: 400;
}

.contact__text h1 {
  font-size: 2.5rem;
  font-weight: 900;
  margin-bottom: 1.3rem;
  letter-spacing: 0.05em;
  color: #e1e1e1;
}

.contact__text p {
  font-size: 1.1rem;
  margin-top: 1rem;
  color: #ccc;
}

.div__contact__form {
  flex: 1 1 300px;
  max-width: 600px;
  color: #f5f5f5;
  display: flex;
  justify-content: center;
}

.contact__form {
  width: 100%;
  max-width: 100%;
  background: #2a2a2a;
  border-radius: 16px;
  padding: 1em 2em;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.7);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  user-select: text;
}

.contact__form h2 {
  font-size: 2rem;
  font-weight: 900;
  text-align: center;
  color: #df3232;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  color: #ccc;
}

.entrada,
.select,
.textarea {
  width: 100%;
  padding: 1rem 1.3rem;
  border-radius: 12px;
  border: 2px solid #444;
  background-color: #1f1e1e;
  color: #eee;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.7);
  resize: vertical;
}

.entrada::placeholder,
.textarea::placeholder {
  color: #777;
  font-style: italic;
}

.entrada:focus,
.select:focus,
.textarea:focus {
  outline: none;
  border-color: rgba(223, 50, 50, 0.662745098);
  box-shadow: 0 0 8px 2px rgba(223, 50, 50, 0.5882352941);
  background-color: #222;
  color: #fff;
}

.textarea {
  min-height: 160px;
}

.div__btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-contact {
  width: 80%;
  padding: 1.3rem 0;
  background: linear-gradient(90deg, #df3232, rgba(223, 16, 16, 0.568627451));
  border: none;
  border-radius: 30px;
  color: #fefefe;
  font-weight: 900;
  font-size: 1.25rem;
  letter-spacing: 0.08em;
  cursor: pointer;
  box-shadow: 0 0px 6px #df3232;
  transition: box-shadow 0.3s ease, transform 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.7rem;
  user-select: none;
}

.btn-contact i {
  font-size: 1.2rem;
  color: #cccaca;
}

.btn-contact:hover {
  box-shadow: 0 0 10px 3px #df3232;
  transform: scale(1.1);
}

/* ---------------------- bootstrap HEADER modificacion --------------------- */
@media (min-width: 690px) {
  #container__navbar-bt {
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: none;
  }
}
.fixed-top {
  position: static !important;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.offcanvas {
  position: fixed;
  bottom: 0;
  z-index: var(--bs-offcanvas-zindex);
  display: flex;
  flex-direction: column;
  max-width: 100%;
  color: var(--bs-offcanvas-color);
  background-color: #333333 !important;
  background-clip: padding-box;
  outline: 0;
  transition: var(--bs-offcanvas-transition);
}

/* ---------------------- bootstrap HEADER (BTN) modificacion --------------------- */
.btn {
  --bs-btn-padding-x: 0.75rem;
  --bs-btn-padding-y: 0.375rem;
  --bs-btn-font-family: ;
  --bs-btn-font-size: 1rem;
  --bs-btn-font-weight: 400;
  --bs-btn-line-height: 1.5;
  --bs-btn-color: var(--bs-body-color);
  --bs-btn-bg: transparent;
  --bs-btn-border-width: var(--bs-border-width);
  --bs-btn-border-color: transparent;
  --bs-btn-border-radius: var(--bs-border-radius);
  --bs-btn-hover-border-color: transparent;
  --bs-btn-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  --bs-btn-disabled-opacity: 0.65;
  --bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-btn-focus-shadow-rgb), .5);
  display: inline-block;
  padding: var(--bs-btn-padding-y) var(--bs-btn-padding-x);
  font-family: var(--bs-btn-font-family);
  font-size: var(--bs-btn-font-size);
  font-weight: var(--bs-btn-font-weight);
  line-height: var(--bs-btn-line-height);
  color: var(--bs-btn-color);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: var(--bs-btn-border-width) solid var(--bs-btn-border-color);
  border-radius: var(--bs-btn-border-radius);
  background-color: rgba(77, 76, 76, 0.5137254902) !important;
  transition: color 0.15sease-in-out, background-color 0.15sease-in-out, border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
}

.btn-outline-success {
  --bs-btn-color: #ffffff !important;
  --bs-btn-border-color: #ffffff71 !important;
  --bs-btn-hover-color: #ffffff !important;
  --bs-btn-hover-bg: #000000 !important;
  --bs-btn-hover-border-color: #d1cece !important;
  --bs-btn-focus-shadow-rgb: 25, 135, 84 !important;
  --bs-btn-active-color: #fff !important;
  --bs-btn-active-bg: #ffffff !important;
  --bs-btn-active-border-color: #ffffff !important;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
  --bs-btn-disabled-color: #ffffff !important;
  --bs-btn-disabled-bg: transparent !important;
  --bs-btn-disabled-border-color: #ffffff !important;
  --bs-gradient: none !important;
}

.btn-close {
  --bs-btn-close-color: #ffffff !important;
  --bs-btn-close-bg: url(data:image/svg+xml,%3csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="%23000"%3e%3cpath d="M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414"/%3e%3c/svg%3e);
  --bs-btn-close-opacity: 1 !important;
  --bs-btn-close-hover-opacity: 1 !important;
  --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(0, 0, 0, 0.25) !important;
  --bs-btn-close-focus-opacity: 1;
  --bs-btn-close-disabled-opacity: 1 !important;
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  background-color: #ffffff !important;
  filter: var(--bs-btn-close-filter);
  border: 0;
  border-radius: 0.375rem;
  opacity: 0.8 !important;
}

/* ---------------------- bootstrap HEADER (nav) modificacion --------------------- */
.nav-item {
  margin: 0.5em 0;
}

.nav-link {
  display: block;
  padding: var(--bs-nav-link-padding-y) var(--bs-nav-link-padding-x);
  font-size: 1.1rem !important;
  font-weight: 600 !important;
  color: #ffffff !important;
  text-decoration: none;
  background: 0 0;
  border: 0;
  transition: color 0.15sease -in-out, background-color 0.15sease -in-out, border-color 0.15sease -in-out;
}

.nav-item:nth-child(1) {
  border-bottom: 0.1em solid rgba(175, 175, 175, 0.767);
  text-transform: uppercase;
}

.nav-item:hover {
  background-color: rgba(73, 73, 73, 0.5411764706);
}

/* ---------------------- bootstrap HEADER (search) modificacion --------------------- */
.form-control {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #ffffff !important;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: rgba(255, 255, 255, 0.6784313725) !important;
  background-clip: padding-box;
  border: 1px solid rgba(255, 255, 255, 0.6705882353) !important;
  border-radius: var(--bs-border-radius);
  transition: border-color 0.15sease-in-out, box-shadow 0.15sease-in-out;
  outline: none !important;
}

/* ---------------------- apartado de la seccion de rutas --------------------- */
.presentacion__section--rutas {
  text-align: center;
}

.presentacion--rutas {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
}

.section__container__img {
  max-width: 55em;
  margin: 1em 0 3.5em 0;
  height: 37em;
  border-radius: 24px;
  box-shadow: 0 0 30px 0 rgb(49, 49, 49);
}

.section__container__img img {
  width: 100%;
  height: 37em;
  border-radius: 24px;
}

.section__rutas--map {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em 0;
}

.container__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4em;
  padding: 3em;
  width: 90%;
  border-radius: 24px;
  background-color: rgba(0, 0, 0, 0.4941176471);
  box-shadow: 0 0 30px 10px rgba(66, 66, 66, 0.733);
}

.container__card {
  display: flex;
  align-items: center;
  max-width: 90em;
  padding: 44px 30px 44px 20px;
  background: #2e2e2e;
  border-radius: 24px;
}

.container__card img {
  max-width: 320px;
  width: 36vh;
  height: 300px;
  object-fit: cover;
  margin-left: -60px;
  margin-right: 30px;
  border-radius: inherit;
  box-shadow: 0 60px 40px rgba(0, 0, 0, 0.705);
  transition: border-radius 0.3s;
}

.container__card h2 {
  font-size: 22px;
  font-weight: 400;
  margin-top: 0;
  margin-right: 30px;
  margin-bottom: 10px;
  color: #fff;
}

.container__card h3 {
  font-size: 14px;
  font-weight: 400;
  margin-right: 30px;
  margin-bottom: 10px;
  color: #fff;
}

.container__card p {
  font-size: 0.8rem;
  font-weight: 400;
  margin-bottom: 30px;
  opacity: 0.8;
  color: #ffffff;
}

.container__card--direction {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 0.5em;
  max-width: 100%;
}

.container__card--direction h4 {
  font-size: 1rem;
  font-weight: 400;
}

.container__card--direction iframe {
  max-width: 25em;
  height: 100%;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

/* ---------------------- Rutas Media --------------------- */
@media (width <= 910px) {
  .container__card {
    margin: 80px 20px 0 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 60px;
    width: 100%;
    text-align: center;
    flex-direction: column;
  }
  .container__card h2 {
    margin-right: 0;
    font-size: 26px;
  }
  .container__card img {
    margin: -100px 0 30px 0;
    width: 100%;
    max-width: 1000px;
    height: 250px;
  }
  .container__card p {
    max-width: 360px;
  }
  .container__card--direction {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }
  .container__card--direction iframe {
    max-width: 30em;
    height: 10em;
  }
  .container__article {
    padding: 2em;
    width: 100%;
  }
}
@media (width <= 560px) {
  .container__card img {
    height: 50vw;
    width: 50vw;
    border: 12px solid var(--container__card);
    margin: -140px 0 30px 0;
  }
  .section__container__img {
    width: 90%;
    height: 15em;
  }
  .section__container__img img {
    width: 100%;
    height: 15em;
  }
  .container__card--direction iframe {
    max-width: 18em;
    height: 10em;
  }
}
.seccion__contenido-web {
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 3em 2em;
  background-color: #222324;
  color: #e0e0e0;
  font-family: "Poppins", sans-serif;
  text-align: center;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgb(0, 0, 0);
}

.seccion__contenido-web h2 {
  font-size: 2rem;
  margin-bottom: 1em;
  color: #ffffff;
}

.seccion__contenido-web p {
  font-size: 1.1rem;
  margin-bottom: 2em;
}

.contenido__lista {
  list-style: none;
  padding: 0;
  margin: 0 auto 2em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 2em;
  justify-items: center;
}

.contenido__lista li figure {
  background-color: #101a24;
  border-radius: 12px;
  overflow: hidden;
  transition: transform 0.3s ease;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.contenido__lista li:hover figure {
  transform: translateY(-5px);
}

.contenido__lista img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  display: block;
}

.contenido__lista figcaption {
  padding: 1em;
  font-size: 1rem;
  line-height: 1.4;
}

/*# sourceMappingURL=estilos.css.map */
