
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__pages {
    background: #1f1e1e;
    font-family: Arial, sans-serif;
    color: #ffffff;
}

.body__index {
    background: #1f1e1e;
    font-family: Arial, sans-serif;
    color: #ffffff;
}
