
/* ---------------------- Header --------------------- */

.header__index {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 1000;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #74757528;
}


/* ---------------------- Header Nav --------------------- */

.header__nav--ul {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    list-style: none;
    margin: 0;
    margin-right: 1.5em;
}

.header__nav--li {
    padding: 0 1em;
}

.header__nav--li:last-child {
    border-right: none;
}

.header__nav--li a {
    font-size: 1.2em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    color: #dbdbdb;
}

.header__nav--li a:hover {
    color: #ffffff;
    text-shadow: 0 0 5px #ffffff48;
}

.header__nav--li i {
    font-size: 1.5em;
    color: #dbdbdb;
}

.header__nav--li i:hover {
    filter: drop-shadow(0 0 5px #ffffff);
    transition: all 0.2s ease-in-out;
}

/* ---------------------- Header Logo --------------------- */

.container__logo {
    margin-left: 1.5em;
}

.container__logo, img{
    width: 5em;
    height: 5em;
}

