/** donde domer **/
@mixin center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@mixin card-style {
    background: var(--card-dark);
    border-radius: var(--radius);
    box-shadow: var(--shadow-dark);
    overflow: hidden;
    transition: transform var(--transition), box-shadow var(--transition);
}

@mixin smooth-scroll {
    scroll-behavior: smooth;
}
